@font-face {
  font-family: "Indopak Fonts";
  src: url("Fonts\IndoPak Fonts\AlQuran-IndoPak-by-QuranWBW.v.4.2.2-WL.ttf");
}
@font-face {
  font-family: "Bangla Alinur";
  src: url("Fonts\AlinurTatsama\ANSI V2\Li Alinur Tatsama ANSI V2.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("Fonts\Inter\Inter-VariableFont_slnt,wght.ttf");
}

:root {
  /* fonts */
  --IndopakText: "Indopak Fonts";
  --BanglaText: "Bangla Alinur";
  --FontSize-24: 1.5rem;
  /* Color */
  --FontColor: #262429;
  --Primary: #eae9e9;
  --Background: #f8fcfd;
  --OpacityHalf: 55%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--Background);
}

/* Nav  */

nav {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  background-color: var(--Background);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
nav #mainLogo img {
  height: 70px;
}
/* Navigation  */
#contentNvigation {
  width: 350px;
  border-right: 1px solid var(--Primary);
  height: 90vh;
  overflow: hidden;
  padding: 1rem;
}

#navigationType {
  width: 100%;
  height: 50px;
  background-color: var(--Primary);
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
}

#surah,
#juz {
  height: 100%;
  width: 50%;
  /* text-align: center; */
  display: grid;
  place-content: center;
  z-index: 2;
  cursor: pointer;
}

#toggoleBox {
  height: 88%;
  width: 50%;
  position: absolute;
  background-color: var(--Background);
  border-radius: 2rem;
  margin-left: -47%;
  transition: margin 0.5s;
  /* -webkit-box-shadow: inset 0px 1px 8px -3px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: inset 0px 1px 8px -3px rgba(0, 0, 0, 0.23);
  box-shadow: inset 0px 1px 8px -3px rgba(0, 0, 0, 0.23);
  border: 1px solid rgba(255, 255, 255, 0.253); */
}

.searchBox {
  height: 56px;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--Primary);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin: 1rem 0rem;
}

.searchBox input {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
  height: 100vh;
}
.searchBox input:focus {
  outline: none;
}

.bottomBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

#chapter {
  width: 300%;
  height: 100%;
  border-right: 1px solid var(--Primary);
  overflow: scroll;
}

ul {
  list-style-type: none;
  font-size: 1rem;
}
li {
  margin: 0rem 0.5rem 1rem;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
li:hover {
  background-color: var(--Primary);
}
#chapterLines {
  width: 100%;
  height: 100%;

  overflow: scroll;
}
#chapterLines li ul {
  text-align: center;
}

#juzAll {
  width: 100%;
}

.selected {
  background-color: var(--Primary);
  font-weight: 700;
}

.hide {
  display: none;
}
section {
  display: flex;
}
#content {
  width: 100%;
}
#arabicTitle {
  font-family: var(--IndopakText);
}
#surahTitle {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

#surahContent {
  width: 100%;
  padding: 1rem 5rem 1rem;
  font-size: var(--FontSize-24);
}
.lineBox {
  height: 70vh;
  margin-top: 5rem;
  overflow: scroll;
}
.surahBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--Primary);
  padding: 2rem;
  border-radius: 1rem;
  gap: 4px;
}
.translationBox,
.arabicBox {
  width: 50%;
  /* background-color: blue; */
}
.translationBox #translation {
  display: flex;
  gap: 8px;
}
.arabicBox {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  gap: 8px;
}
#translationPlay {
  margin-top: 4px;
}

#translationPlay,
#arabicPlay {
  height: min-content;
  cursor: pointer;
}
