@font-face {
  font-family: "Indopak Fonts";
  src: url("/Fonts/p1.woff2");
}
@font-face {
  font-family: "Bangla Alinur";
  src: url("./Fonts/AlinurTatsama/Unicode/Li\ Alinur\ Tatsama\ Unicode.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("./Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  /* fonts */
  --IndopakText: "Indopak Fonts";
  --BanglaText: "Bangla Alinur";
  --FontSize-24: 1.5rem;
  /* Color */
  --FontColor: #262429;
  --Primary: #eae9e9;
  --Background: #f8fcfd;
  --OpacityHalf: 55%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--Background);
}

/* Nav  */

nav {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
  background-color: var(--Background);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
nav #mainLogo img {
  height: 70px;
}
/* Navigation  */
#contentNvigation {
  width: 350px;
  border-right: 1px solid var(--Primary);
  /* overflow: hidden; */
  padding: 1rem;
  height: 117vh;
}

#navigationType {
  width: 100%;
  height: 50px;
  background-color: var(--Primary);
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
}

#surah,
#juz {
  height: 100%;
  width: 50%;
  /* text-align: center; */
  display: grid;
  place-content: center;
  z-index: 2;
  cursor: pointer;
}

#toggoleBox {
  height: 88%;
  width: 50%;
  position: absolute;
  background-color: var(--Background);
  border-radius: 2rem;
  margin-left: -47%;
  transition: margin 0.5s;
  /* -webkit-box-shadow: inset 0px 1px 8px -3px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: inset 0px 1px 8px -3px rgba(0, 0, 0, 0.23);
  box-shadow: inset 0px 1px 8px -3px rgba(0, 0, 0, 0.23);
  border: 1px solid rgba(255, 255, 255, 0.253); */
}

.searchBox {
  height: 56px;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--Primary);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin: 0rem 0rem 1rem;
}

.searchBox input {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
  height: 100vh;
}
.searchBox input:focus {
  outline: none;
}

.bottomBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 107vh;
}

#chapter {
  width: 300%;
  border-right: 1px solid var(--Primary);
  overflow: scroll;
}

ul {
  list-style-type: none;
  font-size: 1rem;
}
li {
  margin: 0rem 0.5rem 0.4rem;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
}
li:hover {
  background-color: var(--Primary);
}
#chapterLines {
  width: 100%;
  overflow: scroll;
}
#chapterLines ul li {
  text-align: center;
}

#juzAll {
  width: 100%;
}

.selected {
  background-color: var(--Primary);
  font-weight: 700;
}

.hide {
  display: none;
}
section {
  display: flex;
}
#content {
  width: 100%;
  height: 116vh;
  overflow: scroll;
}
#arabicTitle {
  font-family: "Indopak Fonts";
}
#surahTitle {
  display: flex;
  justify-content: center;
  gap: 8px;
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}

#surahContent {
  width: 100%;
  padding: 1rem 5rem 1rem;
  font-size: var(--FontSize-24);
}

.surahBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--Primary);
  padding: 3rem;

  gap: 4px;
}
.surahBox:hover {
  background-color: var(--Primary);
  border-radius: 1rem;
}
#lineNumber {
  margin-bottom: 5px;
  font-size: 1rem;
}
#arabicText {
  line-height: 3rem;
}
.translationBox,
.arabicBox {
  width: 50%;
  /* background-color: blue; */
}
.translationBox #translation {
  display: flex;
  gap: 8px;
}
.arabicBox {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  gap: 8px;
}
.showMoreBTN {
  padding: 0.5rem 1rem;
  border: 2px solid rgb(168, 168, 168);
  font-size: 1rem;
  width: min-content;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  transition: 300ms;
  margin: 0 auto;
}
.showMoreBTN:hover {
  border: 2px solid black;
  transition: 300ms;
}
#translationPlay {
  margin-top: 4px;
}

#translationPlay,
#arabicPlay {
  height: min-content;
  cursor: pointer;
}

section {
  height: 100vh;
  width: 100%;
  /* overflow: scroll; */
}

/* scroll bar */
div::-webkit-scrollbar {
  width: 0.5vw;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--Primary);
  border-radius: 10px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}
.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}
.skeleton-surahTitle {
  width: 10%;
  height: 1.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}
.iconBox {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.surahSection {
  padding-top: 1rem;
}

/* responsive fuctionality */
.sideChapterSection {
  margin-left: -250px;
  transition: 0.5s;
  #arrow {
    rotate: 0deg;
  }
}
#contentNavigation {
  position: relative;
  transition: 0.5s;
}
#arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  right: -60px;
  background-color: var(--Primary);
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.5s;
  rotate: -180deg;
  margin-left: 10px;
}

@media (max-width: 768px) {
  #surahContent {
    padding: 0rem 1rem;
  }
  #surahTitle {
    margin-top: 4rem;
  }
}
@media (max-width: 450px) {
  .surahBox {
    padding: 1.5rem 0.8rem;
  }
  .surahBox {
    flex-direction: column;
  }
  .arabicBox {
    margin-left: auto;
    width: 100%;
  }
  .translationBox {
    width: 100%;
  }
}

/* info overlay  */
#info {
  cursor: pointer;
}
#overlayContainer {
  height: 120vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.369);
  position: absolute;
  z-index: 2;
  display: grid;
  place-content: center;
  display: none;
}
#overlayBox {
  max-width: 800px;
  max-height: 700px;
  overflow: scroll;
  background-color: var(--Background);
  padding: 2rem;
  border-radius: 1rem;
  margin: -50px 16px 0px;
}
#close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.grid {
  display: grid;
}
